// Fiche photographe
#photographer_media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  figure {
    width: 21rem;
    height: 21rem;
    margin: 2rem;
    padding: 0;
    background-color: black;
    border-radius: 5px;
  }
  figcaption {
    font-size: 18px;
    color: #901c1c;
    font-weight: 400;
    background-color: white;
    padding: 0.5rem 0;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  // figcaption i {
  //   color: #db8876;
  // }
  // .heart {
  //   color: #901c1c;
  // }
  .mediaTitle {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 400;
  }
  img {
    width: 21rem;
    height: 21rem;
    object-fit: cover;
    border-radius: 5px;
  }
  video {
    width: 21rem;
    height: 21rem;
    padding: 0;
    background-color: #525252;
  }
}

#heart {
  cursor: pointer;
  color: #901c1c;
}

#photographer_media img:hover,
#photographer_media img:focus,
#photographer_media video:hover,
#photographer_media video:focus {
  border: solid 4px #525252;
}
