// css code base

/*Fiches par photographe; diaporama, slider*/
.masque {
  display: none;
}
.container {
  margin: auto;
  padding: 0px 25px 0px 25px;
  // display: flex;
  // flex-direction: column;
  max-width: 1200px;
  max-height: 1024px;
  // margin: auto;
  // padding: 50px;
  background-color: white;
  // position: fixed;
  // z-index: 10;
  // justify-content: center;
  // align-items: center;
  .h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }
}
.slider_box {
  display: flex;
  // flex-direction: column;
  padding: 70px;
  display: none;
  align-items: center;
  max-height: 98%;
}
.fas {
  font-size: 2rem;
}
#next {
  // margin-left: -1rem;
  margin-bottom: 5rem;
  color: $primary-color;
}
#previous {
  margin-bottom: 5rem;
  color: $primary-color;
}
#close-slider {
  position: absolute;
  margin-left: 48.5rem;
  margin-top: -42rem;
  color: $primary-color;
  // height: 4rem;
}


    // margin-left: -0.5rem;
    // margin-top: 2rem;
    // height: 4rem;



.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}
// .close-slider {
//   display: flex;
//   flex-direction: row;
// }
.slider-content {
  padding: 0 30px;
  border-radius: 8px;
  color: #901c1c;
  font-size: 2rem;
  font-weight: 600;
}
.slider-content figure {
  width: 100%;
  padding: 0;
  margin: 2rem auto;
  text-align: center;
}
.slider-content img {
  height: 615px;
  width: 696px;
  object-fit: cover;
}
.slider-content video {
  height: 615px;
  width: 696px;
  background-color: #525252;
}
.slider-content h2 {
  font-family: $basic-font;
  font-weight: $normal;
  font-size: 2rem;
  text-align: start;
  margin-top: 0.5rem;
}
#message-nav {
  display: flex;
  flex-direction: row;
}
#message-nav-txt {
  position: absolute;
  left: 35%;
  top: 1%;
  width: 28rem;
  color: #901c1c;
  font-size: 0.8rem;
  display: none;
}


// /* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 375px et 767px */
// @media screen and (min-width: 426px) and (max-width: 780px)
// {
// .slider-content img {
//   height: 352px;
//   width: 100%;
//  }
// .slider-content video {
//   height: 352px;
//   width: 100%;
//  }
// }



@media screen and (min-width: 320px) and (max-width: 425px)
{
// .container {
// padding: 0;
// }
.slider-content img {
  height: 221px;
  width: 221px;
 }
//  height: 250px;
//  width: 100%;
.slider-content video {
  height: 221px;
  width: 221px;
  // margin-top: -77px;
  background-color: #525252;
  // height: 125px;
  // width: 100%;
 }
 .fas {
  font-size: 1rem;
}
#next {
  margin-bottom: 2rem;
}
#previous {
  margin-bottom: 2rem;
}
#close-slider {
  margin-left: 16.4rem;
  margin-top: -16rem;
}
// body{
//   padding: 0;
// }
.slider-content h2 {
  font-size: 1rem;
}
.slider_box {
  padding: 0;
  margin: auto;
 }
 .slider-content {
margin: 0;
width: 100%;
min-height: 100vh;
align-items: center;
padding: 0 16px;
}
}


