/* color */
$primary-color: #901c1c;
$secondary-color: #d3573c;
$third-bg-color: #fafafa;
$third-text-color: #757575;
$secondary-bg-color: #db8876;

$white-color: #ffffff;
$black-color: #000000;

/* Fonts */
$basic-font: "DM Sans", sans-serif;

/* Fonts Weight */
$extra-bold: 700;
$bold: 500;
$normal: 400;

/* Fonts Size*/
$text: 18px;
$small-text: 10px;
$tiny-text: 9px;
$tag: 12px;
$headline: 64px;
$title: 36px;
$subtitle-1: 24px;
$subtitle-2: 13px;

$title-line-heigth: 46.87px;
$small-subtitle-line-heigth: 16.93px;
$small-text-line-heigth: 13.02px;
$tiny-text-line-heigth: 11.72px;
$small-tag-line-heigth: 15.62px;

/* Images Size */
$portrait-size: 200px;
$small-portrait-size: 100px;
